{# src/Media/MediaBundle/Resources/views/Pages/movies.html.twig #}
{% extends 'MediaMediaBundle::layout.html.twig' %}

{% block content %}
[[include 'pages/add_a_movie.tpl']]

<div class="row-fluid sortable">		
    <div class="box span12">
	<div class="box-header" data-original-title>
	    <h2><i class="icon-user"></i><span class="break"></span>Limit Results by First Letter/Number</h2>
	    <div class="box-icon"><a href="#" class="btn-setting"><i class="icon-wrench"></i></a><a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a></div>
	</div>
	<div class="box-content" style="overflow: auto;">[[Movies::create_jump_list()]]</div>
    </div> <!-- /span -->
</div>
<div class="row-fluid sortable">		
    <div class="box span12">
	<div class="box-header" data-original-title>
	    <h2><i class="icon-user"></i><span class="break"></span>All Movies</h2>
	    <div class="box-icon"><a href="#" class="btn-setting"><i class="icon-wrench"></i></a><a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a></div>
	</div>
	<div class="box-content" style="overflow: auto;">[[include "pages/tables/tablehead.$page.tpl"]] [[Movies::list_movies('none')]] [[include 'pages/tables/tablefoot.tpl']]</div>
    </div> <!-- /span -->
</div>
{% endblock %}
