{# src/Media/MediaBundle/Resources/views/Pages/search.html.twig #}
{% extends 'MediaMediaBundle::layout.html.twig' %}
{% block content %}
<div class="row-fluid">

                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="icon-th"></i> Upcoming Episode Schedule</h2>
                    </div>
                    <div class="box-content">
						List shall reside here.
					</div>
                </div><!--/span-->

            </div>
{% endblock %}
